body {
    background-color: #6495ed;
}

.sheet {
    background-color: white;
    text-align: left;
    padding: 25px;
    border-radius: 25px;
    max-width: fit-content;
    margin: 0 auto;
}

#page_title {
    text-align: center;
}
