body {
    background-color: #6495ed;
    font-family: 'Nunito', sans-serif;
}

.sheet_wrapper {
    margin: 10px;
}

.sheet {
    background-color: white;
    text-align: left;
    padding: 25px;
    border-radius: 25px;
    max-width: fit-content;
    margin: auto;
}

.page_title {
    text-align: center;
}

.highlight {
    padding: 10px;
    border-radius: 10px;
}
