body {
    background-color: #6495ed;
    font-family: 'Nunito', sans-serif;
}

.sheet_wrapper {
    margin: 10px;
}

.sheet {
    background-color: white;
    text-align: left;
    padding: 25px;
    border-radius: 25px;
    max-width: fit-content;
    margin: auto;
}

.page_title {
    text-align: center;
}

.highlight {
    padding: 10px;
    border-radius: 10px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: #6495ed;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

tbody tr:nth-child(odd) {
    background-color: white;
}
